
html{
width:auto;
height:auto;
background: url(images/fond.png) center;
background-size:cover;
padding: 0;

}
body
{
height: 100%;
width:70%;
margin:auto;
padding: 0; 
}
header{
display: block;
width: 100%;
}
h1.title{
color: black;
text-align: center;
margin-right:2%;
margin-left:2%;
font-size: 30px;
}
a{
text-decoration: none;
}
/* BOUTON PAGE PRESENTATION */
div.container{
margin-top: 2%;
margin-left:65%;
}
div.btn{
color: black;
margin: auto;
text-align: center;
width: max-content;
display:inline-block;
}
div.btn h1{
cursor: pointer;
background-color: white;
border: 1px solid #000;
border-radius: 15px;
width: max-content;
padding: 10px;
margin: auto;
color: black;
font-size: 20px;
}
div.btn h1:hover{
cursor: pointer;
border: 1px solid #fff;
background-color: black;
color: white;
font-size: 22px;
}

.img {
    max-height: 70px;
    max-width: 120px;
    display:block;
    margin:auto;
}
#roles {
    max-height: 150px;
    width: max-content;
    border: 2px solid green;
    padding:3px;
    background-color: rgba(255, 255, 255, .6);
}
#fond {
    height: 590px;
    width: 1050px;
    margin:auto;
    background: url(images/jour.jpg) center no-repeat;
    background-size: 100%;
}
#roles2 {
    font-size: 20px;
    text-align: center;
    margin: 0px;
    margin-bottom:7px;
}
.messages{
    border:2px solid black !important;
    padding:2px;
    height:400px;
    width:350px;
    background-color: rgba(255,255,255,.6);
    margin:auto;
    overflow-y:auto;
}

.chat {
    width: max-content;
    margin: auto;

}
#times {
    width: max-content;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    margin-top: -100px;
    border: solid black 1px;
    background:rgba(255,255,255,.6);
}
#error{
    text-align:center;
    background-color:rgba(255,255,255,.6);
    color:red;
    display:none;
    margin:auto;
    width:max-content;
}





/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background:white ;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }